<app-navbar></app-navbar>
<div>
    <div class="col-12 mb-5 row text-center">
        <h1>Modo Quiosco</h1>
    </div>
    <div class="col-10 mb-3">
        <ol>- Nos dirigimos a disco local C y buscamos el directorio que contiene el ejecutable de <b>Chrome.</b></ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/quiosco/quiosco1.png" width="700" height="390"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Seleccionamos el ejecutable, le damos click derecho – Crear acceso directo.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/quiosco/quiosco2.png" width="700" height="390"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Aceptamos colocar el icono de acceso directo en el escritorio.</ol>
        <ol>- Buscamos el acceso directo que se creó en el escritorio, le damos click derecho – Propiedades.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/quiosco/quiosco3.png" width="300" height="390"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Seleccionamos la pestaña de <b>Acceso Directo</b> y modificamos el destino agregando las</ol>
        <ol>siguientes configuraciones al final del texto <b>--kiosk --disable-pinch --overscroll-history-</b></ol>
        <ol><b>navigation=0 http://localhost/masvida-front</b>, quedando de la siguiente manera:</ol>
    </div>
    <div class="col-10 mb-3">
        <ol><i>C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" --kiosk --disable-pinch --overscroll-</i></ol>
        <ol><i>history-navigation=0 http://localhost/masvida-front</i></ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/quiosco/quiosco4.png" width="320" height="450"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Le damos click en Aplicar y Aceptar.</ol>
        <ol>- Habilitamos la visibilidad de los elementos ocultos y nos dirigimos al inicio del sistema</ol>
        <ol>operativo <b>C:\ProgramData\Microsoft\Windows\Start Menu\Programs\StartUp</b>, pegamos</ol>
        <ol>aquí el acceso directo que creamos en el escritorio con las configuraciones</ol>
        <ol>anteriormente aplicadas.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/quiosco/quiosco5.png" width="700" height="390"> 
    </div>
    <div class="col-10 mb-3">
        <ol><i>Ya tenemos configurado el inicio de sesión con el navegador de la aplicación.</i></ol>
    </div>
    <div class="col-10 mb-3">
        <ol><h3>Deshabilitar vista de tareas</h3></ol>
        <ol>- Windows + R</ol>
        <ol>- Escribir gpedit.msc</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/quiosco/cmd.PNG" width="500" height="250"> 
    </div>   
    <div class="col-10 mb-3">
        <ol>1. Configuración del equipo </ol>
        <ol>2. Plantillas administrativas</ol>
        <ol>3. Componentes de Windows</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/quiosco/windows.PNG" width="700" height="390"> 
    </div>   
    <div class="col-10 mb-3">
        <ol>4. Interfaz del usuario perimetral</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/quiosco/interfaz.PNG" width="700" height="390"> 
    </div> 
    <div class="col-10 mb-3">
        <ol>5. Permitir deslizamiento rápido desde borde</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/quiosco/deslizamiento.PNG" width="700" height="390"> 
    </div> 
    <div class="col-10 mb-3">
        <ol>6. Editar configuración de directiva</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/quiosco/configuracion.PNG" width="700" height="390"> 
    </div> 
    <div class="col-10 mb-3">
        <ol>7. Establecer en deshabilitada</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/quiosco/deshabilitada.PNG" width="550" height="390"> 
    </div>
</div>