<app-navbar></app-navbar>
<div>
    <div class="col-12 mb-5 row text-center">
        <h1>Configurar reporte usabilidad</h1>
    </div>
    <div class="col-10 mb-3">
        <ol>- Ingresar a la carpeta del proyecto</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/reporte-usabilidad/carpetaproyecto.PNG" width="650" height="350"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Entrar en la carpeta src</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/reporte-usabilidad/src.PNG" width="650" height="350"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Ingresar a la carpeta assets</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/reporte-usabilidad/assets.PNG" width="650" height="350"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Luego, ingresar a la carpeta config</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/reporte-usabilidad/config.PNG" width="650" height="350"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Click con botón derecho y editar archivo config.json</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/reporte-usabilidad/json.png" width="650" height="350"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Dentro de config.json, se debe modificar “ip_totem” y “oficina”</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/reporte-usabilidad/json2.PNG" width="650" height="350"> 
    </div>
</div>