<app-navbar></app-navbar>
<div>
    <div class="col-12 mb-5 row text-center">
        <h1>Funcionalidad de la aplicación Nueva Mas Vida</h1>
    </div>
    <div class="col-10 mb-3">
        <ol>- Al comenzar aparecerá un video en el cuál deberá tocar la pantalla para continuar</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/video.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Luego deberá ingresar rut para poder iniciar sesión</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/ingresarut.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Al ingresar el rut poner el dedo de la huella registrada en el lector</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/huella.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Una vez dentro, se visualizará el menú</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/menu.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Al ingresar en "Cotizar y comprar bonos" se podrá acceder para comprar bonos por Especialidad, </ol>
        <ol>Médico y ver Bonos anteriores.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/especialidad.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- En especialidad, se debe escoger la especialidad para comprar o cotizar bono </ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/escoger-especialidad.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Luego, elegir prestador y presionar en comprar</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/elegir-medico.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Elegir la forma de pago, Pago con tarjetas o Pago con excedentes en caso de</ol>
        <ol>tener excedentes</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/comprar.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- A continuación si se eligió pagar con tarjetas, debe seguir las instrucciones</ol>
        <ol>del sistema Transbank</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/transbank.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Si la compra es exitosa se enviará el bono al correo registrado</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/compraexitosa.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Si se escoge "Médico", debe escribir el nombre del médico, luego en botón "Cotizar"</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/medicos.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/medico.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Elegir la forma de pago, Pago con tarjetas o Pago con excedentes en caso de</ol>
        <ol>tener excedentes</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/comprar.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- A continuación si se eligió pagar con tarjetas, debe seguir las instrucciones</ol>
        <ol>del sistema Transbank</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/transbank.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Si la compra es exitosa se enviará el bono al correo registrado</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/compraexitosa.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- En "Bonos anteriores", elegir institucion y prestador</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/institucionprestador.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Luego, elegir prestador y presionar en comprar</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/elegir-medico.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Elegir la forma de pago, Pago con tarjetas o Pago con excedentes en caso de</ol>
        <ol>tener excedentes</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/comprar.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- A continuación si se eligió pagar con tarjetas, debe seguir las instrucciones</ol>
        <ol>del sistema Transbank</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/transbank.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Si la compra es exitosa se enviará el bono al correo registrado</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/compraexitosa.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- En "Solicitar reembolso", seleccionar "Beneficiario", "Prestación", escribir el</ol>
        <ol>"RUT médico", luego en siguiente</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/solicitudreembolso.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- A continuación deberá seleccionar la opción "Añadir boleta", o si desea</ol>
        <ol>"Añadir otros documentos" para su reembolso</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/añadirboleta.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Si seleccionó una de las opciones antes mencionadas, se abrirá un scanner</ol>
        <ol>para tomar una captura de su boleta o documento y seleccionar el ícono de cámara</ol>
        <ol>para poder tomar la captura</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/fotodoc.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Al agregar los documentos o boletas necesarias para su reembolso, seleccione el botón "Siguiente"</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/documentos.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- A continuación se mostrará el "Resumen reembolso" en donde se encuentran los datos de pago</ol>
        <ol>y presionar el botón "Solicitar"</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/resumen.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Finalmente se generó la solicitud de reembolso</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/reembolsoexitoso.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Luego esta la opción de "Datos beneficiarios"</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/menudatos.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- A continuación se deberá seleccionar un servicio, "Mandato bancario" o "Datos de contacto"</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/servicio.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- En "Mandato bancario" se pueden editar los datos en el botón "Editar" y luego se deberá guardar</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/editarmandato.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Al editar se actualizarán los datos y el comprobante será enviado al correo electrónico</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/comprobantedatos.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- En "Datos de contacto" se pueden actualizar los datos de la persona</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/datos.PNG" width="300" height="500"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Al actualizar los datos se enviará un comprobante al correo electrónico registrado</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/masvida/comprobantedatos.PNG" width="300" height="500"> 
    </div>
</div>