<app-navbar></app-navbar>
<div>
    <div class="col-12 mb-5 row text-center">
        <h1>Configuración inicial de Git</h1>
    </div>
    <div class="col-10 mb-5">
        <ol>- Acceder a la url https://git-scm.com/</ol>
        <ol>- Descargar el instalador git.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/Git/git1.png" width="600" height="390"> 
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/Git/git2.png" width="600" height="390"> 
    </div>
    <div class="col-10 mb-5">
        <ol>- Ejecutar el instalador que se acaba de descargar dejando todas las configuraciones por defecto.</ol>
        <ol>- Abrir la consola de Windows y digitar el comando “git - -version” para verificar la instalación.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/Git/git3.png" width="600" height="390"> 
    </div>
    <div class="col-10 mb-5">
        <ol>- Generar ssh de acceso a los repositorios git con el comando “ssh-keygen”.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/Git/git4.png" width="600" height="390"> 
    </div>
    <div class="col-10 mb-5">
        <p>Es importante dejar el nombre del archivo y las contraseñas vacías, para ello solo debe</p>
        <p>presionar la tecla enter en todas las opciones; en caso de existir una ssh se debe escribir</p>
        <p>“y” en la opción “Overwrite” para generar una nueva ssh y reescribir la existente.</p>
    </div>
    <div class="col-10 mb-5">
        <ol>- Acceder a la ruta “C:\Users\”nombre_usuario”\.ssh”, en caso de no ver el directorio .ssh</ol>
        <ol>debe habilitar carpetas ocultas.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/Git/git5.png" width="600" height="390"> 
    </div>
    <div class="col-10 mb-5">
        <ol>- Abrir con un editor de texto el archivo “id_rsa.pub”, el cual contiene la key de acceso,</ol>
        <ol>se debe copiar todo su contenido.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/Git/git6.png" width="600" height="390"> 
    </div>
    <div class="col-10 mb-5">
        <ol>- Luego debe acceder a la url https://gitlab.com/users/sign_in con las siguientes</ol>
        <ol>credenciales:</ol>
        <ol>usuario: felipe.rios@totalpack.cl</ol>
        <ol>clave: TpackW$1</ol>
        <ol>- Al acceder pincha el icono superior derecho y seleccionar la opción “Settings”.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/Git/git7.png" width="600" height="390"> 
    </div>
    <div class="col-10 mb-5">
        <ol>- Seleccionar la opción “SSH Keys” en el menú lateral izquierdo.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/Git/git8.png" width="600" height="390"> 
    </div>
    <div class="col-10 mb-5">
        <ol>- Pegar el contenido de nuestro archivo “id_rsa.pub” y pinchar “Add Key”.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/Git/git9.png" width="600" height="390"> 
    </div>
    <div class="col-10 mb-5">
        <ol>- Si nos muestra la siguiente ventana, se agregó correctamente la ssh, de lo contrario se</ol>
        <ol>deben repetir los pasos anteriorers de generación ssh.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/Git/git10.png" width="600" height="390"> 
    </div>
</div>