<app-navbar></app-navbar>
<div>
    <div class="col-12 mb-5 row text-center">
        <h1>Configuración IIS (Internet Information Service)</h1>
    </div>
    <div class="col-10 mb-3">
        <ol>- Para iniciar debemos acceder a panel de control y buscar programas y características.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/iis/iis1.png" width="600" height="390"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Pinchar la opción agregar y desactivar características de Windows.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/iis/iis2.png" width="600" height="390"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Buscar Internet Information Services y verificar si el recuadro está pintado de color negro</ol>
        <ol>o tiene un check, de lo contrario se debe seleccionar el cuadrado y poner aceptar.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/iis/iis3.png" width="450" height="390"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Al finalizar la instalación en caso de no tener habilitado, buscar en la lupa de Windows IIS</ol>
        <ol>y seleccionar “Administrador de Internet Information Services”</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/iis/iis4.png" width="600" height="390"> 
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/iis/iis5.png" width="700" height="400"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Al seleccionar Sitios, si se ve alguno como en la imagen, se recomienda detenerlo, para</ol>
        <ol>no tener conflictos con el puerto 80.</ol>
    </div>
</div>