<app-navbar></app-navbar>
<div>
    <div class="col-12 mb-5 row text-center">
        <h1>Servicios</h1>
    </div>
    <div class="col-10 mb-3">
        <p><b>Se requiere Servicio Pago Local (TPpago) (Considerando tótem con imagen de configuración de bd</b></p>
        <p><b>PostgreSQL 8.1, ODBC, registro de Windows y servicio de pago listo).</b></p>    
    </div>
    <div class="col-10 mb-3">
        <ol>Instalación SDK Huellero</ol>
    </div>
    <div class="col-10 mb-3">
        <ol>- Iniciamos ejecutando la aplicación de instalación SDK.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/servicios/servicios1.png" width="700" height="390"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Esperar que el programa instale el sdk dar en Finish.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/servicios/servicios2.png" width="700" height="390"> 
    </div>
    <div class="col-10 mb-3">
        <ol><b>Instalar Driver Huellero</b></ol>
    </div>
    <div class="col-10 mb-3">
        <ol>- Ejecutamos Setup.exe</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/servicios/servicios3.png" width="700" height="390"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Seleccionamos el modelo del huellero e instalamos.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/servicios/servicios4.png" width="550" height="490"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Desconectar el huellero en caso de que se encuentre conectado y dar click en Next.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/servicios/servicios5.png" width="650" height="490"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Luego conectar el huellero y esperar que el programa de instalación lo reconozca para continuar.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/servicios/servicios6.png" width="650" height="490"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Por último, esperamos que se instale el driver y damos click en Finish.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/servicios/servicios7.png" width="650" height="490"> 
    </div>
    <div class="col-10 mb-3">
        <ol><b>Instalar Driver Impresora Térmica</b></ol>
    </div>
    <div class="col-10 mb-3">
        <ol>- Ejecutamos Setup.exe</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/servicios/servicios8.png" width="700" height="390"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Aceptamos los términos y damos click en Next.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/servicios/servicios9.png" width="650" height="490"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Luego seleccionamos USB Connection.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/servicios/servicios10.png" width="600" height="450"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Esperamos que se instale el driver y damos click en Ok.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/servicios/servicios11.png" width="600" height="450"> 
    </div>
    <div class="col-10 mb-3">
        <ol><b>Instalación PipeComponent2 (Huellero e Impresión)</b></ol>
    </div>
    <div class="col-10 mb-3">
        <ol>- Nos vamos a la ruta donde se encuentre el PipeComponent2, (En este caso)</ol>
        <ol>- D:\MasVida\ApiMasVida\Huella-MasVida\PipeComp2.</ol>
        <ol>- Buscamos el archivo “install_service.bat”, le damos click derecho y seleccionamos la opción de Editar</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/servicios/servicios12.png" width="700" height="450"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Verificamos la ruta dónde se encuentra nuestro PipeComponent2.exe</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/servicios/servicios13.png" width="650" height="250"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Luego ejecutamos nuestro install_service.bat como administrador.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/servicios/servicios14.png" width="700" height="450"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Verificamos que nuestro servicio se encuentre instalado.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/servicios/servicios15.png" width="700" height="450"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Buscamos PipeComponent2</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/servicios/servicios16.png" width="700" height="390"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Luego configuramos su inicio, click derecho en PipeComponent2 y dar en propiedades.</ol>
        <ol>- Nos vamos a la pestaña Recuperación y seleccionamos Reiniciar el servicio en caso de errores.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/servicios/servicios17.png" width="450" height="490"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Para finalizar, nos vamos a General, seleccionamos tipo de inicio: Automático, damos</ol>
        <ol>click en Aplicar, finalmente iniciamos el servicio y seleccionamos Aceptar.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/servicios/servicios18.png" width="450" height="490"> 
    </div>
    <div class="col-10 mb-3">
        <p><i>Verificamos que el servicio tenga el Estado “En ejecución” y el Tipo de inicio “Automático”.</i></p>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/servicios/servicios19.png" width="800" height="200"> 
    </div>
</div>