<app-navbar></app-navbar>
<div>
    <div class="col-12 mb-5 row text-center">
        <h1>Levantar navegador con inicio de sesión</h1>
    </div>
    <div class="col-10 mb-3">
        <ol>- En el administrador de tareas “Archivo- Ejecutar Tarea” escribimos el comando <b>“netplwiz”</b></ol>
        <ol>y hacemos click en <b>Aceptar.</b></ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/navegador/navegador1.png" width="450" height="200"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Se nos abrirá una nueva ventana con todas las cuentas habilitadas en el sistema operativo.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/navegador/navegador2.png" width="350" height="390"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Seleccionamos nuestra cuenta, o la cuenta que queramos que se inicie automáticamente</ol>
        <ol>al arranque y allí desmarcar la opción <b>«Los usuarios deben escribir su nombre y</b></ol>
        <ol><b>contraseña para usar el equipo».</b> El sistema operativo nos preguntará por el nombre del</ol>
        <ol>usuario que queremos que inicie automáticamente y por nuestra contraseña.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/navegador/navegador3.png" width="350" height="390"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Una vez aplicados los cambios, ya podemos reiniciar el sistema para comprobar que la</ol>
        <ol>cuenta elegida inicia sesión automáticamente al arrancar el sistema operativo sin la</ol>
        <ol>necesidad de introducir la contraseña correspondiente y saltándose la ventana de</ol>
        <ol>selección de cuenta.</ol>
    </div>
</div>