<app-navbar></app-navbar>
<div>
    <div class="col-12 mb-5 row text-center">
        <h1>Despliegue de la aplicación</h1>
    </div>
    <div class="col-10 mb-3">
        <ol>- Acceder al disco local D, y en su raíz crear una carpeta “NuevaMasVida”.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/despliegue/despliegue1.png" width="700" height="390"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Acceder a ella y en su raíz dar click derecho y seleccionar la opción “Git Bash Here”.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/despliegue/despliegue2.png" width="700" height="390"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Se desplegara una terminal git.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/despliegue/despliegue3.png" width="700" height="390"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Copiar el siguiente comando: “git clone git@gitlab.com:masvida/masvida-front.git” y</ol>
        <ol>espera a que finalice.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/despliegue/despliegue4.png" width="700" height="390"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Luego ejecutar el siguiente comando: “git clone git@gitlab.com:masvida/masvida-</ol>
        <ol>back.git” y espera a que finalice.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/despliegue/despliegue5.png" width="700" height="390"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Vamos al directorio “NuevaMasVida” y verificamos si están los 2 directorios clonados.</ol>
        <ol>- Luego vamos al Internet Information Services y generamos un nuevo sitio web llamado</ol>
        <ol>TotalPack y en la ruta física añadirmos la carpeta NuevaMasVida localizada en el disco D.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/despliegue/despliegue6.png" width="500" height="490"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Verificamos que aparezcan los directorios clonados.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/despliegue/despliegue7.png" width="700" height="390"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Le damos click derecho a ambos y los convertimos a aplicación web.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/despliegue/despliegue8.png" width="700" height="390"> 
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/despliegue/despliegue9.png" width="700" height="390"> 
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/despliegue/despliegue10.png" width="700" height="390"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Verificamos si ambos quedaron con el símbolo de aplicación web.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/despliegue/despliegue11.png" width="700" height="390"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Iniciamos el sitio web “TotalPack”.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/despliegue/despliegue12.png" width="700" height="390"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Iniciamos el front para verificar la instalación.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/despliegue/despliegue13.png" width="700" height="390"> 
    </div>
    <div class="col-10 mb-3">
        <ol>- Si nos despliega lo siguiente, están clonados correctamente los repositorios.</ol>
    </div>
    <div class="col-10 mb-5">
        <img src="./assets/img/despliegue/despliegue14.png" width="700" height="390"> 
    </div>
</div>